<ion-header>
    <ion-toolbar>
        <ion-chip>
            <ion-avatar>
                <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
            </ion-avatar>
            <ion-label>Chip Avatar</ion-label>
        </ion-chip>
        <!-- <ion-avatar>
            <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
        </ion-avatar> -->
        <ion-title>welcome {{ form.username }}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-tabs>
        <ion-router-outlet></ion-router-outlet>

        <ion-tab-bar slot="bottom">
            <ion-tab-button tab="home">
                <ion-icon name="home-outline"></ion-icon>
                Home
            </ion-tab-button>
            <ion-tab-button tab="radio">
                <ion-icon name="search-outline"></ion-icon>
                Sarch
            </ion-tab-button>
            <ion-tab-button tab="library">
                <ion-icon name="call-outline"></ion-icon>
                Call
            </ion-tab-button>
            <ion-tab-button (click)="doLogout()" tab="logout">
                <ion-icon name="log-out-outline"></ion-icon>
                Logout
            </ion-tab-button>
        </ion-tab-bar>
    </ion-tabs>

</ion-content>